extends root

block append css
    link(rel="stylesheet" href="static/css/search.css")

block append scripts
    script(type="text/javascript" src="static/js/dropdown.js")
    script(type="text/javascript" src="static/js/table.js")
    script(type="text/javascript" src="static/js/search.js")

block content
    h1.mb-2.mb-sm-3.text-start.text-sm-center.m-t-16 Due Diligence

    div.row
        div.col
        div#search-cont.text-start.col-md-8.col-lg-6.col-xl-5
            div#search-bar-cont
                input#search-bar.form-control(
                    type="text"
                    autocomplete="off"
                    placeholder="I'm looking for..."
                    autofocus="autofocus"
                )
                div#search-bar-btn-cont
                    button#search-bar-btn.btn.btn-primary.corner-lg(type="button")
                        i.bi.bi-arrow-right-short.fa-2x

            //- FIXME: Save vendor selection in a cookie
            div#search-vendor.dropdown.mt-2
                button#search-vendor-btn.btn.btn-secondary.dropdown-toggle(
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    data-vendor=default_vendor
                    title="Product data source"
                ) Select vendor&nbsp;
                ul#search-vendor-menu.dropdown-menu(aria-labelledby="search-vendor-btn")
                    li
                        a.dropdown-item.disabled Select vendor
                    li
                        hr.dropdown-divider
                    each val in vendors
                        li
                            a.dropdown-item(
                                href="#"
                                id=val.id
                                class="search-vendor-option" + (val.enabled ? "" : " disabled")
                            )= val.name
                                if val.badge !== ""
                                    span(class=val.enabled ? "bg-fg" : "bg-fg-subtle").badge.m-l-1= val.badge

                // Result number input
                input#search-num.form-control.m-t-2.d-inline-block.w-auto.m-l-1.mono.focus-ring.focus-ring-secondary(
                    type="number"
                    min="1"
                    max="20"
                    value="10"
                    title="Number of results"
                )

                // Loader and status message
                div#status.m-t-2.align-middle.d-none
                    span.spinner-border.spinner-border-sm.align-middle.fg-subtle(role="status")
                    span#status-text.align-middle.m-l-2.fg-subtle Status message here

        div.col

    div.m-t-10.m-b-16
        div#result-cont.table-responsive-md.text-start
            table#result.table.d-none
                thead
                tbody
